.credit-card-right-content{
  background-color: $white;
  width:700px;
  color: $darkerGrey;
  height:330px;

    h2{
      font-size:150%;
      font-weight: bold;
      text-align: center;
      padding:10px 0;
      border-bottom: solid 1.5px #eee;
    }

    &__main{
      padding:40px 35px 10px;

      &__wrapper{
        border-bottom: solid 1px #eee;
      }

      &__top{

      width:350px;
      margin: 0 auto;
      padding: 0 0 20px;

        p:nth-child(1){
          font-weight: bold;
          margin-bottom: 15px;
          font-size: 17px;
        }

        p:nth-child(2){
          float:left;
        }

        img{
          width:33.99px;
          height:20px;
        }
        .payment-add {
          @include btn($white);
          background-color: $btn-red;
        }

        .payment-delete{
          float:right;
          border: 1px solid red;
          text-decoration: none;
          color: red;
          padding:1px 7px;
          border-radius: 3px;
          font-size: 14px;
        }
      }
      &__bottom{
        text-align: right;
        padding-top:40px;
        a{
        @include setStyleToLink;
        }
      }
    }
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
