= render 'layouts/header'
.wrapper
  = render 'sidebar'

  .sign-out
    .sign-out__btn
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "sign-out__btn"
= render 'layouts/footer'
