<<<<<<< HEAD
= render 'layouts/header'
=======
>>>>>>> JJ-302/master
.wrapper
  = render 'sidebar'

  .sign-out
    .sign-out__btn
      .btn-red ログアウト
<<<<<<< HEAD
= render 'layouts/footer'
=======
>>>>>>> JJ-302/master
