.wrapper
  .side-bar
    .information
      %ul.content
        %li.content__mypage
          %a マイページ
          %i.fa.fa-angle-right
        %li.content__notice
          %a お知らせ
          %i.fa.fa-angle-right
        %li.content__to-do
          %a やることリスト
          %i.fa.fa-angle-right
        %li.content__good_index
          %a いいね！一覧
          %i.fa.fa-angle-right
        %li.content__exhibition
          %a 出品する
          %i.fa.fa-angle-right
        %li.content__under-exhibition
          %a 出品した商品 - 出品中
          %i.fa.fa-angle-right
        %li.content__sold-already
          %a 出品した商品 - 取引中
          %i.fa.fa-angle-right
        %li.content__during-trading
          %a 出品した商品 - 売却済み
          %i.fa.fa-angle-right
        %li.content__past-transactions
          %i.fa.fa-angle-right
          %a 購入した商品 - 過去の取引
        %li.content__news-index
          %a ニュース一覧
          %i.fa.fa-angle-right
        %li.content__evaluation-list
          %a 評価一覧
          %i.fa.fa-angle-right
        %li.content__guide
          %a ガイド
          %i.fa.fa-angle-right
        %li.content__contact-us
          %a お問い合わせ
          %i.fa.fa-angle-right

    %h3 メルペイ
    .merpay
      %ul.content
        %li.content
          %a 売上・振込申請
          %i.fa.fa-angle-right
        %li.content
          %a ポイント
          %i.fa.fa-angle-right


    %h3 設定
    .user-info
      %ul.content
        %li.content
          %a プロフィール
          %i.fa.fa-angle-right
        %li.content
          %a 発送元・お届け先住所変更
          %i.fa.fa-angle-right
        %li.content
          %a 支払い方法
          %i.fa.fa-angle-right
        %li.content
          %a メール/パスワード
          %i.fa.fa-angle-right
        %li.content
          %a 本人情報
          %i.fa.fa-angle-right
        %li.content
          %a 電話番号の確認
          %i.fa.fa-angle-right
        %li.content
          %a ログアウト
          %i.fa.fa-angle-right

  .sign-out
    .sign-out__btn
      .btn-red ログアウト
