.breadcrumbs{
  background-color: $white;
  border-top: #e2dedc 1px solid;
  padding: 15px 0;
  box-shadow: 0 5px 5px 0px rgba(0,0,0,0.2);
  font-size: 14px;

  &__container{
    width:1020px;
    margin:0 auto;

    @media screen and (max-width:1020px){
      width:700px;
    }

    @media screen and (max-width:700px){
      width:auto;
    }
  }

  &__seperator{
    color:grey;
    font-weight: bold;
    margin: 0 10px;
  }
  a{
    text-decoration: none;
    color:black;
  }
  .current{
    font-weight: bold;
  }
}
