.mypage-tab {
  &__container {
    background-color: white;
    width: 100%;
  }
  &__head {
    padding: 0 4%;
    background-color: #ededf2;
    font-size: 16px;
    line-height: 72px;
    font-weight: bold;
    border: transparent 1px solid;
  }
}
.mypage-item {
  &__list {
    li {
      position: relative;
      border-bottom: 1px solid #eee;
    }
    a:hover {
      background-color: #fafafa;
    }
  }
  &__body {
    margin: 0 40px 0 20px;
  }
  &__text{
    overflow: hidden;
    display: block;
    max-height: 4.4em;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  &__link {
    display: block;
    min-height: 80px;
    color: #333;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    figure {
      position: relative;
      overflow: hidden;
      width: 48px;
      height: 48px;
      background-color: red;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
  }
}
.fa-angle-right {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
  font-size: 25px;
  color: #ccc;
}
.listing {
  &__tabs {
    border: 0;
    background: #a2a2a5;
    font-size: 0px;
    li {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      width: 33.3%;
      &.active{
        background-color: white;
        border-top: 2px solid #ea352d;
      }
    }
    a {
      position: relative;
      display: block;
      color: #333;
      font-size: 16px;
      line-height: 72px;
      font-weight: bold;
    }
  }
}
.listing-item {
  &__count {
    vertical-align: 2px;
    margin: 0 6px 0 0;
    i {
      vertical-align: middle;
      color: #ccc;
    }
    span {
      vertical-align: middle;
      margin: 0 0 0 2px;
      font-size: 16px;
      color: #888;
    }
  }
}
.none-content {
  padding: 80px 0 60px;
  text-align: center;
  font-size: 16px;
  color: #ccc;
}
.logo {
  height: 78px;
  width: 85px;
}
.purchace-tabs {
  border: 0;
  background: #eee;
  font-size: 0px;
  li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 50%;
    &.active{
      background-color: white;
      border-top: 2px solid #ea352d;
    }
  }
  a {
    position: relative;
    display: block;
    color: #333;
    font-size: 16px;
    line-height: 72px;
    font-weight: bold;
  }
}
