.banner {
  width: 100%;
  background: url("/images/blurry-room.jpg") right center;
  background-size: cover;
  .banner-container {
    position: relative;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    width: 750px;
    margin: 0 auto;
    &-left {
      position: absolute;
      top:50%;
      transform:translateY(-50%);
      color: #fff;
      text-shadow: 1px 1px rgba(0,0,0,.5);
      h2 {
        font-weight: bold;
        font-size: 25px;
      }
      p {
        font-size: 35px;
        margin-bottom: 10px;
      }
      .link-to-app {
        height:67px;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        ul {
          line-height:67px;
          li {
            float: left;
            margin-right: 10px;

            &:nth-child(2):hover,
            &:nth-child(3):hover{
              opacity: .85;
            }

            img{
              vertical-align: middle;
            }

            &:nth-child(1) img{
              width:70px;
              height:70px;
              margin-right: 10px;
            }

            &:nth-child(2) img,
            &:nth-child(3) img{
              border-radius: 4px;
            }
          }
        }
      }
    }
    &-right {
      float: right;
      margin-left: 50px;
      img {
        width: 300px;
        height: 262px;
        vertical-align: bottom;
      }
    }
  }
}

footer {
  background: #212121;
  padding-top: 60px;
  &:after {
    content: "";
    display:block;
    clear: both;
  }
  .footer-container {
  &:after {
    content: "";
    display:block;
    clear: both;
  }
    width: 1020px;
    margin: 0 auto;
    ul {
      color: #fff;
      li {
        width: 200px;
        ul {
          li {
        a {
          margin-top: 5px;
          display: block;
        }
          }
        }
        h3 {
          font-weight: bold;
          margin-bottom: 20px;
        }
        a {
          color: #fff;
          text-decoration: none;
        }
        float: left;
        margin-right: 40px;
      }
    }
  }
  .copy-right {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    a {
      display: block;
      text-decoration: none;
      color: white;
      color: #fff;
    }
  }
}

.sellform_link_button {
  display: inline-block;
  background: #EA352D;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  color: white;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  div {
    margin-top: 30px;
    font-size: 20px;
  }
  .camera-icon {
    font-size: 60px;
  }
}
