@import "variable";
html {
  width: 100%;
  height: 100%;
  background: #fafafa;
}

body {
}

header {
  width: 100%;
  background: #fff;
  padding-top: 10px;
}

.header-container {
  width: 1020px;
  margin: 0 auto;
   &:after {
    content: "";
    clear: both;
    display: block;
  }
  .header-top {
    &:after {
    content: "";
    clear: both;
    display: block;
    }
    &__logo {
     float: left;
     width: 134px;
     img {
       width: 134px;
       height: 32px;
     }
    }
    &__form {
      float: left;
      width: calc(100% - 144px);
      margin-left: 10px;
      position: relative;
      .header-top__search {
        width: 100%;
        height: auto;
        padding: 5px;
        background: #fafafa;
        border: 1px solid #cccccc;
        border-radius: 5px;
      }
      .header-submit-label {
        position: absolute;
        right: 0;
        top:5px;
      }
      .header-top__submit {
        display: none;
      }
    }
  }
  .header-bottom {
    display: block;
    &:after {
    content: "";
    clear: both;
  }
    .menu {
      float: left;
      margin-top: 10px;
      position: relative;
      &__brand {
        float: left;
        a {
          color: #333333;
          text-decoration: none;
          height: 60px;
        }
      }
      &__category {
        float: left;
        position: relative;
        &:hover ul.menu__first-level {
          top: 30px;
          visibility: visible;
          opacity: 1;
        }
        a {
          color: black;
          text-decoration: none;
          color: #333;
          font-size: 14px;
          display: block;
          height: 30px;
          &:hover {
            color: red;
          }
        }
        ul.menu__first-level {
          position: absolute;
          visibility: hidden;
          box-sizing: border-box;
          background: #fff;
          border: 1px solid $border-color;
          width: auto;
          li {
            width: 224px;
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
            &:hover {
              background: #EA352D;
            }
            &:hover ul.menu__second-level {
              visibility: visible;
              background: #fff;
              li {
                a {
                  color: #333333;
                }
              }
            }
            &:hover a {
              color: #f8f8f8;
            }
          }
        }
        ul.menu__second-level {
          position: absolute;
          visibility: hidden;
          top: -1px;
          height: 480px;
          left: 100%;
          border: 1px solid $border-color;
          li {
            height: 30px;
            line-height: 30px;
            &:hover {
              background: #f8f8f8;
            }
            &:hover .menu__third-level {
              visibility: visible;
              background: #fff;
            }
            a:hover a {
              color: #333333;
            }
          }
        }
        ul.menu__third-level {
          visibility: hidden;
          position: absolute;
          border: 1px solid $border-color;
          height: 480px;
          top: -1px;
          left: 100%;
        }
      }
      .init-bottom:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 0 0 15px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      /* floatクリア */
      .menu:before,
      .menu:after {
        content: " ";
        display: table;
        clear: both;
      }
    }
    &__nav--right {
      float: right;
      margin-top: 10px;
      line-height: 32px;
      li {
        float: left;
        margin-left: 10px;
      }
      a {
        text-decoration: none;
        color: #333;
        font-weight: lighter;
        img {
        width: 26px;
        height: 26px;
        }
      }
      .header-login-button {
        background:#ea352a;
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
      }
      .header-signup-button {
        background: #fff;
        color: #0399e8;
        border: 1px solid #0399e8;
        padding: 5px 10px;
        border-radius: 3px;
      }
    }
  }
}
