h3{
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}
.sign-out {
  width: 700px;
  height: 179px;
  background-color: #fff;
  &__btn {
    @include btn($white);
    display: block;
    width: 300px;
    background-color: $btn-red;
    margin: 65.5px auto;
  }
}

