.wrapper {
  width: 1020px;
  margin: 0 auto;
  display: flex;
  padding: 40px 0;
  .side-bar {
    width: 280px;
    padding: 0 40px;
    .mypage {
      width: 100%;
      background-color: #fff;
      .content{
        font-size: 14px;
        font: 66.66667% sans-serif;
        &__mypage{
          border-bottom: solid 0.5px #eee;
          min-height: 48px;
          line-height: 48px;
          padding-left: 16px;
          position: relative;
          .mypage__link {
            text-decoration: none;
            color: black;
          }
          .fa-angle-right{
            position: absolute;
            top: 30%;
            right: 10px;
            color: #ccc;
            font-size: 20px;
          }
        }
      }
    }
  }
  h3{
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
  }
  .sign-out {
    width: 700px;
    height: 179px;
    background-color: #fff;
    &__btn {
      height: 48px;
      width: 300px;
      background-color: red;
      margin: 65.5px auto;
      color: #fff;
      text-align: center;
      font-size: 14px;
      line-height: 48px;
    }
  }
}
