$white: #fff;
$bottom-color:#eeeeee;
$border-color: #cccccc;
$skyBlue: #43a2ef;
$lightGrey-ish:#efefef;
$darkerGrey: #333333;
$indigo: #303f9f;
$btn-red: #e53935;
$require-red: #EA352D;
$text-color-grey: #9e9e9e;
