.item-box
  = link_to "#", class: "item" do
    = image_tag(product.product_images.first.image.url)
    .item-info
      .item-info__name
        product.name
      .item-info__price
        ¥
        = product.price
      .item-info__tax
        (税込)
