.product-container
  = link_to "#", class: "item-head" do
    = brand.name
    新着アイテム
  .product-container__item-box
    = render partial: "item", collection: brand.products.order("created_at DESC").limit(4), as: 'product'
  = link_to "全ての商品を見る", "#", class: "link-to-all-product"

