.buy-container__footer
  %ul.buy-container__footer__lists.group
    %li.buy-container__footer__list
      =link_to "プライバシーポリシー", root_path
    %li.buy-container__footer__list
      =link_to "メルカリ利用規約",root_path
    %li.buy-container__footer__list
      =link_to "特定商品に関する表記",root_path
  =image_tag("mercari_logo_grey-ish.svg")
  %p.buy-container__footer__copyright ©️2019 Mercari
