%table.item-container__detail
  %tr
    %td 出品者
    %td わああああああああああああああああ
  %tr
    %td カテゴリー
    %td
      =link_to "レディース"
      %br
      =link_to do
        %i.fa.fa-angle-right
        %span トップス
      %br
      =link_to do
        %i.fa.fa-angle-right
        %span ボレロ

  %tr
    %td ブランド
    %td
      =link_to "フレディーアンドグロスター", root_path
  %tr
    %td 商品のサイズ
    %td M
  %tr
    %td 商品の状態
    %td やや傷や汚れあり
  %tr
    %td 配送料の負担
    %td 送料込み(出品者負担)
  %tr
    %td 配送の方法
    %td ゆうゆうメルカリ便
  %tr
    %td 配送元地域
    %td=link_to "東京都", root_path
  %tr
    %td 発送日の目安
    %td 1~2日で発送
