!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FreemarketSample45d
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .buy-container
      .buy-container__logo
        =link_to root_path do
          =image_tag "mercari_logo_horizontal.png"
      .buy-container__main
        .buy-container__main__top
          %h2 購入を確定しますか?
