%main
  .products-field
    .pickup-category-field
      %h2.product-field__header
        ピックアップカテゴリー
      %h3.products-field__header-new-iten
        = link_to 'レディース　新着アイテム', "#"
    .pickup-brand-field
