= render 'layouts/header'
%main.products-field
  .pickup-products-container
    %h2.pickup-head
      ピックアップカテゴリー
    = render partial: "category", collection: @categories, as: 'category'

  .pickup-products-container
    %h2.pickup-head
      ピックアップブランド
    = render partial: "category", collection: @brands, as: 'brand'
= render 'layouts/footer'

