.l-content{
  l-chapter-head{
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 8px 24px;
    h2{
      font-size: 24px;
      line-height: 1.4;
    }
  }
}

.l-single-inner{
  background-color: white;
  .form-group{
    margin-top: 20px;
    label{
      font-weight: bold;
    }
    .input-default{
      padding: 10px 16px 8px;
      height: 48px;
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-bottom: 25px;
    }
  }
  .btn{
    &-default{
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
    &-red{
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      margin: 40px 0 0 0;
    }
  }
}

.form{
  &-require{
    background: red;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  &-arbitrary{
    background: #ccc;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  &-info-text{
    color: #888;
    font-size: 14px;
  }
  &-group{
    label {
      @include label();
      display: inline-block;
      margin-bottom: 5px;
    }
    .text-right{
      margin: 40px 0 0;
      text-align: right;
      p {
        margin: 8px 0 0;
        line-height: 1.5;
        a{
          color: #0099e8;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
  }
}

.select{
  &-default{
    width: 100%;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    position: relative;
  }
  &-wrap{
    background: white;
    margin: 0;
    position: relative;
    .fa-angle-down{
      position: absolute;
      top: 30%;
      right: 16px;
      color: #888;
      font-size: 20px;
    }
    select{
      -webkit-appearance: none;
      appearance: none;
    }
  }
  &-wrap-pre{
    position: relative;
    select{
      -webkit-appearance: none;
      appearance: none;
    }
    i{
      color: #888;
      position: absolute;
      top: 45%;
      right:20px;
    }
  }
}

.id-btn{
  &-default{
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  &-red{
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    margin: 40px 0 0 0;
  }
}
.l-container {
  .l-content {
    background-color: white;
    .l-chapter-head{
      width: 650px;
      font-size: 24px;
      padding: 8px 24px;
      text-align: center;
    }
    .l-chapter-bottom {
      padding: 70px;
      font-size: 14px;
      .text-right{
        text-align: right;
        position: relative;
        .fa-angle-right{
          position: absolute;
          color: #0099e8;
          font-size: 20px;
          font-weight: bold;
        }
        a {
          color: #0099e8;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
    .setting-profile-icon{
      padding: 72px 16px 24px;
      background-image: url("https://uploader.xzy.pw/upload/20181217124455_f5ddef44_6666747176.png");
      background-size: cover;
      text-align: center;

      figure{
        display: inline-block;
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        vertical-align: middle;

        .mypic{
          width: 60px;
          height: 60px;
        }
      }

      .input-text{
        width: 200px;
        margin: 0 0 0 8px;
        vertical-align: middle;
        height: 28px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: white;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    .setting-profile-content{
      padding: 40px 16px;
      background-color: white;

      .textarea-default{
        min-height: 216px;
        display: block;
        width: 97%;
        padding: 10px;
        border: 1px solid #ccc;
        background: white;
        font-size: 16px;
        line-height: 1.5;
      }

      .btn-update-red{
        margin: 16px 0 0;
        background: red;
        color: white;
      }

      .btn-update-box{
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}
