.user-session-wrapper {
  width: 450px;
  @include base-container();
  .move-to-registration {
    padding: 40px 60px;
    border-bottom: solid 1px $border-color;
    &__text {
      font-size: 14px;
      margin-bottom: 5px;
      text-align: center;
    }
    &__btn {
      @include btn($color: $white);
      background-color: $skyBlue;
    }
  }
  .user-session {
    padding: 40px 60px;
    &__facebook {
      @include btn($color: $white);
      background-color: $indigo;
      position: relative;
      .facebook-logo {
        @include logo();
      }
    }
    &__google {
      @include btn($color: $darkerGrey);
      border: solid 1px $darkerGrey;
      margin-bottom: 70px;
      position: relative;
      .google-logo {
        @include logo();
      }
    }
    .session-form {
      .alert-message {
        color: $require-red;
        font-size: 14px;
      }
      .session-field {
        margin-bottom: 30px;
        label {
          display: none;
        }
        &__email {
          @include register-form();
        }
        &__password {
          @include register-form();
        }
      }
      &__btn {
        @include btn($color: $white);
        margin-top: 30px;
        background-color: $btn-red;
      }
    }
    .forgot-password {
      text-decoration: none;
      font-size: 14px;
      color: $skyBlue;
    }
  }
}
