.transaction-sold {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 110px solid transparent;
  border-left: 110px solid $require-red;
  &__text {
    position: absolute;
    top: 20px;
    left: -105px;
    color: $white;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(-45deg);
  }
}
