@mixin register-form() {
  display: block;
  font-size: 16px;
  height: 50px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 1.5px $border-color;
}

@mixin btn($color) {
  display: inline-block;
  text-decoration: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  color: $color;
  text-align: center;
  font-size: 14px;
  border: none;
}

@mixin base-container() {
  margin: 0 auto;
  background-color: $white;
}

@mixin label() {
  font-size: 14px;
  font-weight: bold;
}

@mixin require() {
  display: inline-block;
  color: $white;
  background: $require-red;
  padding: 0 3px;
  border-radius: 3px;
  font-size: 10px;
  margin-left: 5px;
}

@mixin logo() {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
}

@mixin registration-step() {
  width: 112px;
  position: relative;
}

@mixin step-line() {
  display: block;
  height: 2px;
  width: 110px;
  background-color: $text-color-grey;
  position: absolute;
  top: 24px;
  right: 60px;
  z-index: -1;
}
